{% extends "fist/views/templates/base.html" %}
{% block content %}
 <form action="/" method="post" role="form">
     <h3>Home</h3>
     <div class="row">
         <div class="col-md-4 form-group">
             <label for="homePlayer">Player</label>
             <select class="form-control" id="homePlayer" name="home_player_id">
                 <option disabled selected value="">
                 {% for p in players %}
                     <option value="{{p.id}}">{{p.name}}</option>
                 {% endfor %}
             </select>
         </div>
         <div class="col-md-4 form-group">
             <label for="homeTeam">Team</label>
             <input class="form-control" id="homeTeam" name="home_team_name" type="text" value="" autocomplete="off" autocorrect="off">
         </div>
         <div class="col-md-4 form group">
             <label for="homeScore">Score</label>
             <select class="form-control" id="homeScore" name="home_score">
                 <option disabled selected value="">
                 {% for s in scores %}
                     <option value="{{s}}">{{s}}</option>
                 {% endfor %}
             </select>
         </div>
     </div>
     <h3>Away</h3>
     <div class="row">
         <div class="col-md-4 form-group">
             <label for="awayPlayer">Player</label>
             <select class="form-control" id="awayPlayer" name="away_player_id">
                 <option disabled selected value="">
                 {% for p in players %}
                     <option value="{{p.id}}">{{p.name}}</option>
                 {% endfor %}
             </select>
         </div>
         <div class="col-md-4 form-group">
             <label for="awayTeam">Team</label>
             <input class="form-control" id="awayTeam" name="away_team_name" type="text" value="" autocomplete="off" autocorrect="off">
         </div>
         <div class="col-md-4 form-group">
             <label for="awayScore">Score</label>
             <select class="form-control" id="awayScore" name="away_score">
                 <option disabled selected value="">
                 {% for s in scores %}
                     <option value="{{s}}">{{s}}</option>
                 {% endfor %}
             </select>
         </div>
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>

     <!-- Hack to add some space below the submit button on iOS -->
     <p></p>
  </form>
  <script>
    $(function() {
      var availableTeams = [
        {% for t in teams %}
          "{{t.name}}",
        {% endfor %}
      ];

      $("#homeTeam").autocomplete({
        source: availableTeams,
        autoFocus: true,
        delay: 0
      });
      $("#awayTeam").autocomplete({
        source: availableTeams,
        autoFocus: true,
        delay: 0
      });
    });
  </script>
{% endblock %}
