html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 30px;
}

.error {
    color: red;
}

.score-over-time {
    min-width: 310px;
    height: 600px;
    margin: 30px auto;
}

.matches-distribution {
    min-width: 310px;
    height: 600px;
    margin: 30px auto;
}

/* Hack to prevent zooming in the page on iOS when focus is set to a form field.
   Probably font size should be set to 16px in Bootstrap.*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"], input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-size: 16px !important;
}
